@font-face {
  font-display: swap;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/helvetica-neue-400.woff2") format("woff2"), url("../fonts/helvetica-neue-400.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/helvetica-neue-700.woff2") format("woff2"), url("../fonts/helvetica-neue-700") format("woff");
}